
$header-nav-bgc: #fff;
header{
  .icon--group{
    display:flex;
    justify-content: space-around;
  }

  .icon--group div{
    margin-right:0.5rem;
  }

  .navbar{
    background-color: $header-nav-bgc !important;
    border-bottom: 2px solid #c2cfd6;
  }
}
