// google fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
// Font Variables
$roboto-slab: Roboto Slab, serif;
$open-sans: Open Sans, sans-serif;
$font-stack: Helvetica, sans-serif;
$font-cabin: Cabin;
$header-bg-color:#2b2b2b;
$color-palette-eecc3d: #eecc3d;
$color-palette-ccc: #ccc;
//Drank Jess Color Palette
//#ea3102	(234,49,2)
//#eecc3d	(238,204,61)
//#6f6f6f	(111,111,111)
//#454545	(69,69,69)
//#1e1e1e	(30,30,30)

body, html{
  height:100%;
  width: 100%;
  margin:0px;
  padding:0px;
  font-family:Ubuntu;
  color:#e4e5e6;

  .fullwidthheight, #app, main{
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .container--fluid{
    height: 100%;
  }

  .md-black{
    background-color: $header-bg-color;
  }

  .container--flex{
    display: flex;
    height:100%;
    min-width:100%;
    width:100%;
    margin-left: 0px !important;
  }

  .reset-margin-left{
    margin-left:0px;
  }

  .container--flex .sidemenu{
    flex-basis: 20%;
    height: 100%;
  }

  .sidemenu-hide{
    display:none;
  }

  .sidemenu-show{
    display:block;
  }

  .contentspace{
    flex-grow: 9;
  }

  .sidebar{
    position: fixed;
    top: 3.8rem;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    box-shadow: 2px 2px 2px #c2cfd6;
    background-color:#e9ecef !important;
    
    .nav-item{
      padding:0.3rem;
    }
  }
}
